$brand-primary: #F08C02 !default;
$uneca-blue: #234672 !default;
$header-primary: $uneca-blue !default;
$link-color: $uneca-blue !default;

$header-search-right-content-padding-top: 0 !default;

//$btn-dark-fg: #0055AC !default;
//$btn-dark-bg: #CCC !default;
//$btn-dark-border-color: $btn-dark-bg !default;