#main-container{
    padding-bottom:50px;
}

footer {
//    margin-top: 50px;
    padding-top: 30px;
    font-size: 10px;

    .follow-us-icons {
        padding-top: 3px;
        i {
            margin-right: 7px;
            font-size: 28px;
        }
    }
}