#main-areas-of-work{
    text-align: center;
    p {
        font-weight: bold;
    }
    overflow: inherit;
}

.homepage{

    h2.ds-div-head {
        border-bottom: none;

        @include central-strike();
    }

    .page-header {
        padding-bottom: (($line-height-computed / 2) - 1);
        margin: ($line-height-computed * 2) 0 $line-height-computed;
        border-bottom: 1px solid $page-header-border-color;
    }
}